<section class="section about-block" id="about">
  <div class="about-container container">
    <div class="about-text-container animatable fadeBgColor fadeInUp">
      <p class="about-text">
        <span class="about-span">Yacht Adventures</span> fleet is here to take
        you on the ultimate adventure. Each yacht is hand-picked for its
        comfort, style, and performance.
      </p>
      <ul class="about-list">
        <li class="about-item about-item-first">
          <p>
            From spacious decks to state-of-the-art technology, our yachts are
            designed to provide the perfect blend of luxury and functionality.
            Take a look at our selection below and choose the yacht that matches
            your needs and preferences.
          </p>
        </li>
        <li class="about-item about-item-last">
          <p>
            No matter which yacht you choose, our experienced crew will ensure
            that your journey is smooth and enjoyable. Book now and get ready
            for an unforgettable adventure on the high seas.
          </p>
        </li>
      </ul>
    </div>
    <ul class="about-img-list">
      <li class="about-img-item animatable fadeInUp">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/about/yaht1-desktop@1x.webp 1x,
              ./img/about/yaht1-desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/about/yaht1-desktop@1x.png 1x,
              ./img/about/yaht1-desktop@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/about/yaht1-tablet@1x.webp 1x,
              ./img/about/yaht1-tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/about/yaht1-tablet@1x.png 1x,
              ./img/about/yaht1-tablet@2x.png 2x
            "
            type="image/png"
          />
          <source
            srcset="
              ./img/about/yaht1-phone@1x.webp,
              ./img/about/yaht1-phone@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/about/yaht1-phone@1x.png,
              ./img/about/yaht1-phone@2x.png 2x
            "
            type="image/png"
          />
          <img
            class="about-img about-img-first"
            src="./img/about/yaht1-desktop@1x.png"
            alt="yaht1"
            loading="lazy"
            width="335"
            height="524"
          />
        </picture>
      </li>
      <li class="about-img-item animatable fadeInUp">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/about/yaht2-tablet-desktop@1x.webp 1x,
              ./img/about/yaht2-tablet-desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/about/yaht2-tablet-desktop@1x.png 1x,
              ./img/about/yaht2-tablet-desktop@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/about/yaht2-tablet-desktop@1x.webp 1x,
              ./img/about/yaht2-tablet-desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/about/yaht2-tablet-desktop@1x.png 1x,
              ./img/about/yaht2-tablet-desktop@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./img/about/yaht2-phone@1x.webp 1x,
              ./img/about/yaht2-phone@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./img/about/yaht2-phone@1x.png 1x,
              ./img/about/yaht2-phone@2x.png 2x
            "
            type="image/png"
          />
          <img
            class="about-img about-img-second"
            src="./img/about/yaht2-tablet-desktop@1x.png"
            alt="yaht2"
            loading="lazy"
            width="335"
            height="289"
          />
        </picture>
      </li>

      <li class="about-img-item animatable fadeInUp">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/about/yaht3-all@1x.webp 1x,
              ./img/about/yaht3-all@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/about/yaht3-all@1x.png 1x,
              ./img/about/yaht3-all@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/about/yaht3-all@1x.webp 1x,
              ./img/about/yaht3-all@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/about/yaht3-all@1x.png 1x,
              ./img/about/yaht3-all@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./img/about/yaht3-all@1x.webp 1x,
              ./img/about/yaht3-all@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./img/about/yaht3-all@1x.png 1x,
              ./img/about/yaht3-all@2x.png 2x
            "
            type="image/png"
          />
          <img
            class="about-img about-img-last"
            src="./img/about/yaht3-all@1x.png"
            alt="yaht3"
            loading="lazy"
            width="260"
            height="244"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
