<header class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <a class="header-logo" href="">
        <img width="16px" height="18px" src="./img/logo.svg" />Yacht Adventures
      </a>
      <ul class="header-nav-list list">
        <li>
          <a class="header-menu-link" href="">About</a>
        </li>
        <li>
          <a class="header-menu-link" href=""> Yachts </a>
        </li>
        <li>
          <a class="header-menu-link" href="">Reviews</a>
        </li>
      </ul>
      <button
        class="mobile-menu-toggle-icon js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="mobile-menu-icon" height="24" width="24">
          <use href="./img/icons.svg#icon-menu"></use>
        </svg>
      </button>
    </nav>
    <div class="separator"></div>
  </div>
  <!-- backtotop-btn -->
  <div class="progress-wrap">
    <svg
      class="progress-circle svg-content"
      width="100%"
      height="100%"
      viewBox="-1 -1 102 102"
    >
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
  </div>
</header>
