<header class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <a class="header-logo" href="">
        <img width="16px" height="18px" src="./img/logo.svg" />Yacht Adventures
      </a>
      <ul class="header-nav-list list">
        <li>
          <a class="header-menu-link" href="">About</a>
        </li>
        <li>
          <a class="header-menu-link" href=""> Yachts </a>
        </li>
        <li>
          <a class="header-menu-link" href="">Reviews</a>
        </li>
      </ul>
      <button
        class="mobile-menu-toggle-icon js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="mobile-menu-icon" height="24" width="24">
          <use href="./img/icons.svg#icon-menu"></use>
        </svg>
      </button>
    </nav>
    <div class="separator"></div>
  </div>
</header>
