<section class="hero-section">
  <div class="container hero-container">
    <div class="hero-text-box animatable bounceInRight">
      <h1 class="hero-main-text">
        Explore the High Seas with
        <span class="hero-span">Our Luxury Yacht</span> Rentals
      </h1>
      <p class="hero-text">
        Experience the freedom and luxury of yachting on the open seas. Choose
        from our top-of-the-line yachts and embark on an unforgettable journey
        surrounded by breathtaking views and state-of-the-art amenities.
      </p>
      <!-- Button 1 -->
      <div class="hero-set-btn animatable bounceInRight">
        <a href="#about" class="hero-btn started-btn">
          <span>Get started</span>
          <div class="wave"></div>
        </a>
        <!-- Button 2 -->
        <a href="#services" class="hero-btn explore-btn">
          <span>Explore</span>
          <div class="wave"></div>
        </a>
        <!-- End wave -->
      </div>
    </div>
    <div class="hero-image-section">
      <!-- Images -->
      <div class="hero-image-container">
        <div class="hero-blur"></div>
        <div class="man-photo-wrapper animatable fadeIn">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/hero-block/desktop-tablet-img-ceo@x1.webp 1x,
                ./img/hero-block/desktop-tablet-img-ceo@x2.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./img/hero-block/img-ceo@x1.webp 1x,
                ./img/hero-block/img-ceo@x2.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/hero-block/desktop-tablet-img-ceo@x1.png 1x,
                ./img/hero-block/desktop-tablet-img-ceo@x2.png 2x
              "
              type="image/png"
            />
            <source
              srcset="
                ./img/hero-block/img-ceo@x1.png 1x,
                ./img/hero-block/img-ceo@x2.png 2x
              "
              type="image/png"
            />

            <img
              class="hero-img-ceo"
              src="./img/hero-block/img-ceo@x1.png"
              alt="man on the sea"
              loading="lazy"
              width="133"
              height="133"
            />
          </picture>
        </div>
        <div class="hero-clients-box">
          <ul class="hero-clients-list">
            <li>
              <picture>
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/hero-block/desktop-tablet-icon-client1@x1.webp 1x,
                    ./img/hero-block/desktop-tablet-icon-client1@x2.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  srcset="
                    ./img/hero-block/icon-client1@x1.webp 1x,
                    ./img/hero-block/icon-client1@x2.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/hero-block/desktop-tablet-icon-client1@x1.png 1x,
                    ./img/hero-block/desktop-tablet-icon-client1@x2.png 2x
                  "
                  type="image/png"
                />
                <source
                  srcset="
                    ./img/hero-block/icon-client1@x1.png 1x,
                    ./img/hero-block/icon-client1@x2.png 2x
                  "
                  type="image/png"
                />

                <img
                  class="hero-clients-img"
                  src="./img/hero-block/icon-client1@x1.png"
                  alt="photo Clients1"
                  loading="lazy"
                />
              </picture>
            </li>
            <li class="hero-clients-li">
              <picture>
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/hero-block/desktop-tablet-icon-client2@x1.webp 1x,
                    ./img/hero-block/desktop-tablet-icon-client2@x2.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  srcset="
                    ./img/hero-block/icon-client2@x1.webp 1x,
                    ./img/hero-block/icon-client2@x2.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/hero-block/desktop-tablet-icon-client2@x1.png 1x,
                    ./img/hero-block/desktop-tablet-icon-client2@x2.png 2x
                  "
                  type="image/png"
                />
                <source
                  srcset="
                    ./img/hero-block/icon-client2@x1.png 1x,
                    ./img/hero-block/icon-client2@x2.png 2x
                  "
                  type="image/png"
                />

                <img
                  class="hero-clients-img"
                  src="./img/hero-block/icon-client2@x1.png"
                  alt="photo Clients2"
                  loading="lazy"
                />
              </picture>
            </li>
            <li class="hero-clients-li hero-clients-li-item">
              <picture>
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/hero-block/desktop-tablet-icon-client3@x1.webp 1x,
                    ./img/hero-block/desktop-tablet-icon-client3@x2.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  srcset="
                    ./img/hero-block/icon-client3@x1.webp 1x,
                    ./img/hero-block/icon-client3@x2.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/hero-block/desktop-tablet-icon-client3@x1.png 1x,
                    ./img/hero-block/desktop-tablet-icon-client3@x2.png 2x
                  "
                  type="image/png"
                />
                <source
                  srcset="
                    ./img/hero-block/icon-client3@x1.png 1x,
                    ./img/hero-block/icon-client3@x2.png 2x
                  "
                  type="image/png"
                />

                <img
                  class="hero-clients-img"
                  src="./img/hero-block/icon-client3@x1.png"
                  alt="photo Clients3"
                  loading="lazy"
                />
              </picture>
            </li>
          </ul>
          <p class="hero-clients-text">Our Clients</p>
        </div>
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/hero-block/desktop-tablet-img-yaht@x1.webp 1x,
              ./img/hero-block/desktop-tablet-img-yaht@x2.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/hero-block/img-yaht@x1.webp 1x,
              ./img/hero-block/img-yaht@x2.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/hero-block/desktop-tablet-img-yaht@x1.png 1x,
              ./img/hero-block/desktop-tablet-img-yaht@x2.png 2x
            "
            type="image/png"
          />
          <source
            srcset="
              ./img/hero-block/img-yaht@x1.png 1x,
              ./img/hero-block/img-yaht@x2.png 2x
            "
            type="image/png"
          />

          <img
            class="hero-main-img"
            src="./img/hero-block/img-yaht@x1.png"
            alt="Yacht"
            loading="lazy"
            width="287"
            height="167"
          />
        </picture>

        <div class="hero-text-list">
          <p class="hero-grosse-text">$12M</p>
          <p class="hero-kleine-text">
            Book now and make your dream yacht rental a reality
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
