<section class="hero-section">
        <div class="container hero-container">
            <div class="hero-text-box">
                <h1 class="hero-main-text">Explore the High Seas with <span class="hero-span">Our Luxury Yacht</span> Rentals</h1>
                <p class="hero-text">Experience the freedom and luxury of yachting on the open seas. Choose from our top-of-the-line yachts and embark on an
                unforgettable journey surrounded by breathtaking views and state-of-the-art amenities.</p>
                <div class="hero-set-btn">
                    <button class="hero-btn" type="button">Get started</button>
                    <form action="#" target="_blank">
                        <button href="#" class="hero-btn-action">Explore</button>
                    </form>
                </div>
            </div>
            <div class="hero-image-section">
                <div class="hero-image-container">
                    <img class="hero-img-ceo" src="./img/hero-block/img-ceo@x1.png" 
                                            srcset="./img/hero-block/img-ceo@x1.png x1
                                                ./img/hero-block/img-ceo@x2.png x2" alt="man on See">
                    <div class="hero-clients-box">
                        <ul class="hero-clients-list">
                            <li>
                                <img class="hero-clients-img" src="./img/hero-block/ellipse-6076@x1.png"
                                srcset="./img/hero-block/ellipse-6076@x1.png x1
                                        ./img/hero-block/ellipse-6076@x2.png x2"
                                alt="photo Clients1">
                            </li>
                            <li class="hero-clients-li">
                                <img class="hero-clients-img" src="./img/hero-block/ellipse-6076(2)@x1.png" 
                                srcset="./img/hero-block/ellipse-6076(2)@x1.png x1
                                        ./img/hero-block/ellipse-6076(2)@x2.png x2"
                                alt="photo Clients2">
                            </li>
                            <li class="hero-clients-li hero-clients-li-item">
                                <img class="hero-clients-img" src="./img/hero-block/ellipse-6076(3)@x1.png"
                                    srcset="./img/hero-block/ellipse-6076(3)@x1.png x1
                                            ./img/hero-block/ellipse-6076(3)@x2.png x2"
                                    alt="photo Clients3">
                            </li>
                        </ul>

                        <p class="hero-clients-text">
                            Our Clients
                        </p>
                    </div>
                   
                    <img class="hero-main-img" src="./img/hero-block/img-yaht@x1.png" 
                    srcset="./img/hero-block/img-yaht@x1.png x1
                            ./img/hero-block/img-yaht@x2.png x2"
                    alt="Yacht">
                    <ul class="hero-text-list">
                        <li>
                            <p class="hero-grosse-text">$12M</p>
                        </li>
                        <li>
                            <p class="hero-kleine-text">Book now and make your dream yacht rental a reality</p>
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>
    </section>