<section class="section services-section">
  <div class="container">
    <ul class="services-list">
      <li class="services-item">
        <div class="services-content">
          <img
            src="./img/services/mobile-img-diving.png"
            alt="diving"
            width="335"
          />
          <button type="button" class="services-btn">Diving</button>
        </div>
      </li>
      <li class="services-item">
        <div class="services-content">
          <img
            src="./img/services/mobile-img-fishing.png"
            alt="fishing"
            width="335"
          />
          <button type="button" class="services-btn">Fishing</button>
        </div>
      </li>
      <li class="services-item">
        <div class="services-content">
          <img
            src="./img/services/mobile-img-sunbathing.png"
            alt="sunbathing"
            width="335"
          />
          <button type="button" class="services-btn">Sunbathing</button>
        </div>
      </li>
    </ul>
  </div>
</section>
