<div class="container">
  <section class="section">
    <ul class="service-list">
      <li class="service-item">
        <img src="./img/service/img-diving.png" alt="diving" />
        <button type="button" class="service-btn">Diving</button>
      </li>
      <li class="service-item">
        <img src="./img/service/img-fishing.png" alt="fishing" />
        <button type="button" class="service-btn">Fishing</button>
      </li>
      <li class="service-item">
        <img src="./img/service/img-sunbathing.png" alt="sunbathing" />
        <button type="button" class="service-btn">Sunbathing</button>
      </li>
    </ul>
  </section>
</div>
