<section class="section services-section" id="services">
  <div class="container">
    <ul class="services-list">
      <li class="services-item">
        <div class="services-content">
          <div class="front">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/services/img-diving.webp    1x,
                  ./img/services/img-diving@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/services/img-diving.png    1x,
                  ./img/services/img-diving@2x.png 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/services/tablet-img-diving.webp    1x,
                  ./img/services/tablet-img-diving@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/services/tablet-img-diving.png    1x,
                  ./img/services/tablet-img-diving@2x.png 2x
                "
              />
              <source
                srcset="
                  ./img/services/mobile-img-diving.webp    1x,
                  ./img/services/mobile-img-diving@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./img/services/mobile-img-diving.png    1x,
                  ./img/services/mobile-img-diving@2x.png 2x
                "
              />
              <img
                src="./img/services/mobile-img-diving.png"
                alt="diving"
                loading="lazy"
                width="335"
                height="335"
              />
            </picture>
            <button type="button" class="services-btn">Diving</button>
          </div>
          <div class="back hidden">
            <h2 class="flip-title">Diving</h2>
            <p class="flip-text">
              Chartering a crewed yacht which specializes in diving is an ideal,
              yet relatively unknown vacation option for experienced dive
              travellers. After years of being funneled into large group trips
              to resorts or to liveaboard dive "cattleboats", many divers are
              looking for an alternative. A dive vacation aboard a crewed
              charter yacht offers privacy, custom-tailored schedules,
              one-on-one service, personal instruction if necessary, and the
              ability to choose dive sites to suit your interests.
            </p>
          </div>
        </div>
      </li>
      <li class="services-item animatable bounceInLeft">
        <div class="services-content">
          <div class="front">
            <picture
              ><source
                media="(min-width: 1280px)"
                srcset="
                  ./img/services/img-fishing.webp    1x,
                  ./img/services/img-fishing@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/services/img-fishing.png    1x,
                  ./img/services/img-fishing@2x.png 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/services/tablet-img-fishing.webp    1x,
                  ./img/services/tablet-img-fishing@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/services/tablet-img-fishing.png    1x,
                  ./img/services/tablet-img-fishing@2x.png 2x
                "
              />
              <source
                srcset="
                  ./img/services/mobile-img-fishing.webp    1x,
                  ./img/services/mobile-img-fishing@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./img/services/mobile-img-fishing.png    1x,
                  ./img/services/mobile-img-fishing@2x.png 2x
                "
              />
              <img
                src="./img/services/mobile-img-fishing.png"
                alt="diving"
                loading="lazy"
                width="335"
                height="335"
              />
            </picture>
            <button type="button" class="services-btn">Fishing</button>
          </div>
          <div class="back fishing hidden">
            <h2 class="flip-title fish-ttl">Fishing</h2>
            <p class="flip-text fish-txt">
              Fishing is a very common leisure activity, and not only among men.
              It relaxes and pacifies. If you have good luck and nibble,
              excitement appears like in sports. You will not be bored fishing
              on a yacht, thats for sure. Such a variety, size and quantity of
              fish cannot be found in rivers. With the right approach, you can
              catch fish with the size of a small elephant. Besides, freshly
              caught fish can be cooked right there onboard. This is an
              interesting and original experience.
            </p>
          </div>
        </div>
      </li>
      <li class="services-item animatable bounceInRight">
        <div class="services-content">
          <div class="front">
            <picture
              ><source
                media="(min-width: 1280px)"
                srcset="
                  ./img/services/img-sunbathing.webp    1x,
                  ./img/services/img-sunbathing@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/services/img-sunbathing.png    1x,
                  ./img/services/img-sunbathing@2x.png 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/services/tablet-img-sunbathing.webp    1x,
                  ./img/services/tablet-img-sunbathing@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/services/tablet-img-sunbathing.png    1x,
                  ./img/services/tablet-img-sunbathing@2x.png 2x
                "
              />
              <source
                srcset="
                  ./img/services/mobile-img-sunbathing.webp    1x,
                  ./img/services/mobile-img-sunbathing@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./img/services/mobile-img-sunbathing.png    1x,
                  ./img/services/mobile-img-sunbathing@2x.png 2x
                "
              />
              <img
                src="./img/services/mobile-img-sunbathing.png"
                alt="diving"
                loading="lazy"
                width="335"
                height="335"
              />
            </picture>
            <button type="button" class="services-btn">Sunbathing</button>
          </div>
          <div class="back fishing hidden">
            <h2 class="flip-title fish-ttl">Sunbathing</h2>
            <p class="flip-text fish-txt">
              Do you want to forget about everyday worries and touch an
              incredible vacation experience? Treat yourself and your loved ones
              to a magical yacht trip. Sunbathe on the spacious deck under the
              warm rays of the sun, enjoy the incredible views and feel the wind
              caressing your face.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
