<section class="section yachts-section" id="yachts">
  <div class="yachts-block container">
    <div class="yachts-block__bg-vector"></div>
    <div class="yachts-block__title-btn-wrap">
      <h2 class="yachts-block__title">
        Choose your dream yacht and sail away into the sunset
      </h2>
      <a class="yachts-block__link" href="#rent-form">Yacht rental</a>
    </div>

    <div class="yachts-block__card-list-buttons">
      <button
        class="yachts-block__btn-prev-desc y-b__buttons-desc y-b__buttons"
        type="button"
      >
        <svg class="yachts-block__btn-prev-icon" width="18" height="8">
          <use href="./img/icons.svg#icon-arrow-left"></use>
        </svg>
      </button>

      <ul class="yachts-block__card-list">
        <li class="yachts-block__card-set">
          <div class="yachts-block__image-wrap">
            <picture class="yachts-block__image">
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/yahts-block/yachts-block-yacht1-desc.webp    1x,
                  ./img/yahts-block/yachts-block-yacht1-desc@2x.webp 2x
                "
              />
              <img
                class="yachts-block__img"
                srcset="
                  ./img/yahts-block/yachts-block-yacht1-mob.webp    1x,
                  ./img/yahts-block/yachts-block-yacht1-mob@2x.webp 2x
                "
                alt="Yacht Arrow"
              />
            </picture>
          </div>
          <div class="yachts-block__yacht-info">
            <div class="yachts-block__wrap">
              <h3 class="yachts-block__yacht-name">Arrow</h3>
              <p class="yachts-block__yacht-type">LUXURY YAHTS</p>
            </div>

            <div class="yachts-block__yacht-desc-lists">
              <ul class="yachts-block__yacht-desc-list-one">
                <li class="yachts-block__item">LENGTH</li>
                <li class="yachts-block__item">BUILDER</li>
                <li class="yachts-block__item">BUILT</li>
                <li class="yachts-block__item">GUESTS</li>
                <li class="yachts-block__item">PRICE</li>
              </ul>

              <ul class="yachts-block__yacht-desc-list-two">
                <li class="yachts-block__item">48m(155ft)</li>
                <li class="yachts-block__item">Admiral</li>
                <li class="yachts-block__item">2021</li>
                <li class="yachts-block__item">11 in 5 cabins</li>
                <li class="yachts-block__item">€33,500,000</li>
              </ul>
            </div>
          </div>
        </li>
        <li class="yachts-block__card-set">
          <div class="yachts-block__image-wrap">
            <picture class="yachts-block__image">
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/yahts-block/yachts-block-yacht2-desc.webp    1x,
                  ./img/yahts-block/yachts-block-yacht2-desc@2x.webp 2x
                "
              />
              <img
                class="yachts-block__img"
                srcset="
                  ./img/yahts-block/yachts-block-yacht2-mob.webp    1x,
                  ./img/yahts-block/yachts-block-yacht2-mob@2x.webp 2x
                "
                alt="Yacht BENETTI OASIS 40M BO122"
              />
            </picture>
          </div>

          <div class="yachts-block__yacht-info">
            <div class="yachts-block__wrap">
              <h3 class="yachts-block__yacht-name">BENETTI OASIS 40M...</h3>
              <p class="yachts-block__yacht-type">LUXURY YAHTS</p>
            </div>

            <div class="yachts-block__yacht-desc-lists">
              <ul class="yachts-block__yacht-desc-list-one">
                <li class="yachts-block__item">LENGTH</li>
                <li class="yachts-block__item">BUILDER</li>
                <li class="yachts-block__item">BUILT</li>
                <li class="yachts-block__item">GUESTS</li>
                <li class="yachts-block__item">PRICE</li>
              </ul>

              <ul class="yachts-block__yacht-desc-list-two">
                <li class="yachts-block__item">41m (133ft)</li>
                <li class="yachts-block__item">Benetti</li>
                <li class="yachts-block__item">2025</li>
                <li class="yachts-block__item">10 in 5 cabins</li>
                <li class="yachts-block__item">€23,210,000</li>
              </ul>
            </div>
          </div>
        </li>
        <li class="yachts-block__card-set">
          <div class="yachts-block__image-wrap">
            <picture class="yachts-block__image">
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/yahts-block/yachts-block-yacht3-desc.webp    1x,
                  ./img/yahts-block/yachts-block-yacht3-desc@2x.webp 2x
                "
              />
              <img
                class="yachts-block__img"
                srcset="
                  ./img/yahts-block/yachts-block-yacht3-mob.webp    1x,
                  ./img/yahts-block/yachts-block-yacht3-mob@2x.webp 2x
                "
                alt="Yacht BELLE ANNA"
              />
            </picture>
          </div>

          <div class="yachts-block__yacht-info">
            <div class="yachts-block__wrap">
              <h3 class="yachts-block__yacht-name">BELLE ANNA</h3>
              <p class="yachts-block__yacht-type">LUXURY YAHTS</p>
            </div>

            <div class="yachts-block__yacht-desc-lists">
              <ul class="yachts-block__yacht-desc-list-one">
                <li class="yachts-block__item">LENGTH</li>
                <li class="yachts-block__item">BUILDER</li>
                <li class="yachts-block__item">BUILT</li>
                <li class="yachts-block__item">GUESTS</li>
                <li class="yachts-block__item">PRICE</li>
              </ul>

              <ul class="yachts-block__yacht-desc-list-two">
                <li class="yachts-block__item">50m(155ft)</li>
                <li class="yachts-block__item">ISA</li>
                <li class="yachts-block__item">2012</li>
                <li class="yachts-block__item">12 in 6 cabins</li>
                <li class="yachts-block__item">€21,000,000</li>
              </ul>
            </div>
          </div>
        </li>
      </ul>

      <button
        class="yachts-block__btn-next-desc y-b__buttons-desc y-b__buttons"
        type="button"
      >
        <svg class="yachts-block__btn-next-icon" width="18" height="8">
          <use href="./img/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>

    <div class="yachts-block__buttons-wrap">
      <button class="y-b__buttons-mob y-b__buttons" type="button">
        <svg class="yachts-block__btn-prev-icon" width="18" height="8">
          <use href="./img/icons.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <button class="y-b__buttons-mob y-b__buttons" type="button">
        <svg class="yachts-block__btn-next-icon" width="18" height="8">
          <use href="./img/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
