<section class="yachts-block section container">
  <div class="yachts-block__container">
    <h2 class="yachts-block__title">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <!-- це посилання-якір на форму заповнення нижче по сайту -->
    <a class="yachts-block__link" href="#rent-block">Yacht rental</a>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-element-bundle.min.js"></script>
  <swiper-container class="swiper-container">
    <swiper-slide class="swiper-slide">
      <!-- для планшету картинки: width: 312px; height: 268px; -->
      <img
        class="yachts-block__image"
        srcset="
          ./img/yachts-block-yacht1.png    1x,
          ./img/yachts-block-yacht1@2x.png 2x
        "
        src="./img/yachts-block-yacht1.png"
        alt="Yacht Arrow"
        width="299"
        height="251"
      />
      <div class="yachts-block__yacht-info">
        <div class="yachts-block__wrap">
          <h3 class="yachts-block__yacht-name">Arrow</h3>
          <p class="yachts-block__yacht-type">LUXURY YAHTS</p>
        </div>

        <div class="yachts-block__yacht-desc-lists">
          <ul class="yachts-block__yacht-desc-list-one">
            <li class="yachts-block__item">LENGTH</li>
            <li class="yachts-block__item">BUILDER</li>
            <li class="yachts-block__item">BUILT</li>
            <li class="yachts-block__item">GUESTS</li>
            <li class="yachts-block__item">PRICE</li>
          </ul>

          <ul class="yachts-block__yacht-desc-list-two">
            <li class="yachts-block__item">48m(155ft)</li>
            <li class="yachts-block__item">Admiral</li>
            <li class="yachts-block__item">2021</li>
            <li class="yachts-block__item">11 in 5 cabins</li>
            <li class="yachts-block__item">€33,500,000</li>
          </ul>
        </div>
      </div>
    </swiper-slide>

    <swiper-slide class="swiper-slide">
      <img
        class="yachts-block__image"
        srcset="
          ./img/yachts-block-yacht2.png    1x,
          ./img/yachts-block-yacht2@2x.png 2x
        "
        src="./img/yachts-block-yacht2.png"
        alt="Yacht BENETTI OASIS 40M BO122"
        width="299"
        height="251"
      />
      <div class="yachts-block__yacht-info">
        <div class="yachts-block__wrap">
          <!-- додати закінчення з трьома крапками : -->
          <h3 class="yachts-block__yacht-name">BENETTI OASIS 40M BO122</h3>
          <p class="yachts-block__yacht-type">LUXURY YAHTS</p>
        </div>

        <div class="yachts-block__yacht-desc-lists">
          <ul class="yachts-block__yacht-desc-list-one">
            <li class="yachts-block__item">LENGTH</li>
            <li class="yachts-block__item">BUILDER</li>
            <li class="yachts-block__item">BUILT</li>
            <li class="yachts-block__item">GUESTS</li>
            <li class="yachts-block__item">PRICE</li>
          </ul>

          <ul class="yachts-block__yacht-desc-list-two">
            <li class="yachts-block__item">41m (133ft)</li>
            <li class="yachts-block__item">Benetti</li>
            <li class="yachts-block__item">2025</li>
            <li class="yachts-block__item">10 in 5 cabins</li>
            <li class="yachts-block__item">€23,210,000</li>
          </ul>
        </div>
      </div>
    </swiper-slide>

    <swiper-slide class="swiper-slide">
      <img
        class="yachts-block__image"
        srcset="
          ./img/yachts-block-yacht3.png    1x,
          ./img/yachts-block-yacht3@2x.png 2x
        "
        src="./img/yachts-block-yacht3.png"
        alt="Yacht BELLE ANNA"
        width="299"
        height="251"
      />
      <div class="yachts-block__yacht-info">
        <div class="yachts-block__wrap">
          <h3 class="yachts-block__yacht-name">BELLE ANNA</h3>
          <p class="yachts-block__yacht-type">LUXURY YAHTS</p>
        </div>

        <div class="yachts-block__yacht-desc-lists">
          <ul class="yachts-block__yacht-desc-list-one">
            <li class="yachts-block__item">LENGTH</li>
            <li class="yachts-block__item">BUILDER</li>
            <li class="yachts-block__item">BUILT</li>
            <li class="yachts-block__item">GUESTS</li>
            <li class="yachts-block__item">PRICE</li>
          </ul>

          <ul class="yachts-block__yacht-desc-list-two">
            <li class="yachts-block__item">50m(155ft)</li>
            <li class="yachts-block__item">ISA</li>
            <li class="yachts-block__item">2012</li>
            <li class="yachts-block__item">12 in 6 cabins</li>
            <li class="yachts-block__item">€21,000,000</li>
          </ul>
        </div>
      </div>
    </swiper-slide>

    <swiper-slide class="swiper-slide">
      <img
        class="yachts-block__image"
        srcset="
          ./img/yachts-block-yacht4.png    1x,
          ./img/yachts-block-yacht4@2x.png 2x
        "
        src="./img/yachts-block-yacht4.png"
        alt="Yacht Ellen"
        width="299"
        height="251"
      />
      <div class="yachts-block__yacht-info">
        <div class="yachts-block__wrap">
          <h3 class="yachts-block__yacht-name">Ellen</h3>
          <p class="yachts-block__yacht-type">LUXURY YAHTS</p>
        </div>

        <div class="yachts-block__yacht-desc-lists">
          <ul class="yachts-block__yacht-desc-list-one">
            <li class="yachts-block__item">LENGTH</li>
            <li class="yachts-block__item">BUILDER</li>
            <li class="yachts-block__item">BUILT</li>
            <li class="yachts-block__item">GUESTS</li>
            <li class="yachts-block__item">PRICE</li>
          </ul>

          <ul class="yachts-block__yacht-desc-list-two">
            <li class="yachts-block__item">40m (132ft)</li>
            <li class="yachts-block__item">Perini Navi</li>
            <li class="yachts-block__item">2001 / 2016 (refitted)</li>
            <li class="yachts-block__item">9 in 4 cabins</li>
            <li class="yachts-block__item">€9,300,000</li>
          </ul>
        </div>
      </div>
    </swiper-slide>

    <swiper-slide class="swiper-slide">
      <img
        class="yachts-block__image"
        srcset="
          ./img/yachts-block-yacht5.png    1x,
          ./img/yachts-block-yacht5@2x.png 2x
        "
        src="./img/yachts-block-yacht5.png"
        alt="Yacht MIRAGE 401"
        width="299"
        height="251"
      />
      <div class="yachts-block__yacht-info">
        <div class="yachts-block__wrap">
          <h3 class="yachts-block__yacht-name">MIRAGE 401</h3>
          <p class="yachts-block__yacht-type">LUXURY YAHTS</p>
        </div>

        <div class="yachts-block__yacht-desc-lists">
          <ul class="yachts-block__yacht-desc-list-one">
            <li class="yachts-block__item">LENGTH</li>
            <li class="yachts-block__item">BUILDER</li>
            <li class="yachts-block__item">BUILT</li>
            <li class="yachts-block__item">GUESTS</li>
            <li class="yachts-block__item">PRICE</li>
          </ul>

          <ul class="yachts-block__yacht-desc-list-two">
            <li class="yachts-block__item">38m (125ft)</li>
            <li class="yachts-block__item">Gianetti Custom Yachts</li>
            <li class="yachts-block__item">2024</li>
            <li class="yachts-block__item">10 in 5 cabins</li>
            <li class="yachts-block__item">€13,500,000</li>
          </ul>
        </div>
      </div>
    </swiper-slide>

    <swiper-slide class="swiper-slide">
      <img
        class="yachts-block__image"
        srcset="
          ./img/yachts-block-yacht6.png    1x,
          ./img/yachts-block-yacht6@2x.png 2x
        "
        src="./img/yachts-block-yacht6.png"
        alt="Yacht KING"
        width="299"
        height="251"
      />
      <div class="yachts-block__yacht-info">
        <div class="yachts-block__wrap">
          <h3 class="yachts-block__yacht-name">KING</h3>
          <p class="yachts-block__yacht-type">LUXURY YAHTS</p>
        </div>

        <div class="yachts-block__yacht-desc-lists">
          <ul class="yachts-block__yacht-desc-list-one">
            <li class="yachts-block__item">LENGTH</li>
            <li class="yachts-block__item">BUILDER</li>
            <li class="yachts-block__item">BUILT</li>
            <li class="yachts-block__item">GUESTS</li>
            <li class="yachts-block__item">PRICE</li>
          </ul>

          <ul class="yachts-block__yacht-desc-list-two">
            <li class="yachts-block__item">33m (109ft)</li>
            <li class="yachts-block__item">Overmarine</li>
            <li class="yachts-block__item">2004 / 2018 (refitted)</li>
            <li class="yachts-block__item">9 in 4 cabins</li>
            <li class="yachts-block__item">€1,850,000</li>
          </ul>
        </div>
      </div>
    </swiper-slide>

    <swiper-slide class="swiper-slide">
      <img
        class="yachts-block__image"
        srcset="
          ./img/yachts-block-yacht7.png    1x,
          ./img/yachts-block-yacht7@2x.png 2x
        "
        src="./img/yachts-block-yacht7.png"
        alt="Yacht SALT"
        width="299"
        height="251"
      />
      <div class="yachts-block__yacht-info">
        <div class="yachts-block__wrap">
          <h3 class="yachts-block__yacht-name">SALT</h3>
          <p class="yachts-block__yacht-type">LUXURY YAHTS</p>
        </div>

        <div class="yachts-block__yacht-desc-lists">
          <ul class="yachts-block__yacht-desc-list-one">
            <li class="yachts-block__item">LENGTH</li>
            <li class="yachts-block__item">BUILDER</li>
            <li class="yachts-block__item">BUILT</li>
            <li class="yachts-block__item">GUESTS</li>
            <li class="yachts-block__item">PRICE</li>
          </ul>

          <ul class="yachts-block__yacht-desc-list-two">
            <li class="yachts-block__item">32m (105ft)</li>
            <li class="yachts-block__item">SanLorenzo</li>
            <li class="yachts-block__item">2019</li>
            <li class="yachts-block__item">11 in 5 cabins</li>
            <li class="yachts-block__item">€7,800,000</li>
          </ul>
        </div>
      </div>
    </swiper-slide>

    <swiper-slide class="swiper-slide">
      <img
        class="yachts-block__image"
        srcset="
          ./img/yachts-block-yacht8.png    1x,
          ./img/yachts-block-yacht8@2x.png 2x
        "
        src="./img/yachts-block-yacht8.png"
        alt="Yacht STORM"
        width="299"
        height="251"
      />
      <div class="yachts-block__yacht-info">
        <div class="yachts-block__wrap">
          <h3 class="yachts-block__yacht-name">STORM</h3>
          <p class="yachts-block__yacht-type">LUXURY YAHTS</p>
        </div>

        <div class="yachts-block__yacht-desc-lists">
          <ul class="yachts-block__yacht-desc-list-one">
            <li class="yachts-block__item">LENGTH</li>
            <li class="yachts-block__item">BUILDER</li>
            <li class="yachts-block__item">BUILT</li>
            <li class="yachts-block__item">GUESTS</li>
            <li class="yachts-block__item">PRICE</li>
          </ul>

          <ul class="yachts-block__yacht-desc-list-two">
            <li class="yachts-block__item">32m (103ft)</li>
            <li class="yachts-block__item">Overmarine</li>
            <li class="yachts-block__item">2005 / 2022 (refitted)</li>
            <li class="yachts-block__item">9 in 4 cabins</li>
            <li class="yachts-block__item">€2,900,000</li>
          </ul>
        </div>
      </div>
    </swiper-slide>

    <swiper-slide class="swiper-slide">
      <img
        class="yachts-block__image"
        srcset="
          ./img/yachts-block-yacht9.png    1x,
          ./img/yachts-block-yacht9@2x.png 2x
        "
        src="./img/yachts-block-yacht9.png"
        alt="Yacht COLLU"
        width="299"
        height="251"
      />
      <div class="yachts-block__yacht-info">
        <div class="yachts-block__wrap">
          <h3 class="yachts-block__yacht-name">COLLU</h3>
          <p class="yachts-block__yacht-type">LUXURY YAHTS</p>
        </div>

        <div class="yachts-block__yacht-desc-lists">
          <ul class="yachts-block__yacht-desc-list-one">
            <li class="yachts-block__item">LENGTH</li>
            <li class="yachts-block__item">BUILDER</li>
            <li class="yachts-block__item">BUILT</li>
            <li class="yachts-block__item">GUESTS</li>
            <li class="yachts-block__item">PRICE</li>
          </ul>

          <ul class="yachts-block__yacht-desc-list-two">
            <li class="yachts-block__item">29m (96ft)</li>
            <li class="yachts-block__item">Ferretti</li>
            <li class="yachts-block__item">2014</li>
            <li class="yachts-block__item">10 in 5 cabins</li>
            <li class="yachts-block__item">$4,300,000</li>
          </ul>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>

  <!-- <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-element-bundle.min.js"></script> -->
</section>
