.progress-wrap {
	position: fixed;
	right: 20px;
	bottom: 30px;
	height: 44px;
	width: 44px;
	cursor: pointer;

	border-radius: 50px;
	box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.2);
	z-index: 10000;
	opacity: 0;
	visibility: hidden;
	transform: translateY(15px);

	transition: all 200ms linear;
}
@media only screen and (min-width: 768px) {
	.progress-wrap {
		height: 68px;
		width: 68px;
		right: 32px;
		bottom: 32px;
	}
}
.progress-wrap.active-progress {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}
.progress-wrap::after {
	position: absolute;
	content: "\1F815";
	text-align: center;
	line-height: 44px;
	font-size: 30px;
	color: var(--light-green);
	left: 0;
	top: 0;
	height: 44px;
	width: 44px;
	cursor: pointer;
	display: block;
	z-index: 1;

	transition: all 200ms linear;
}
@media only screen and (min-width: 768px) {
	.progress-wrap::after {
		height: 68px;
		width: 68px;
		line-height: 68px;
		font-size: 45px;
	}
}

.progress-wrap::before {
	position: absolute;
	content: "\1F815";
	text-align: center;
	line-height: 44px;
	font-size: 30px;
	opacity: 0;
	background-image: var(--green-gradient);

	left: 0;
	top: 0;
	height: 44px;
	width: 44px;
	cursor: pointer;
	display: block;
	z-index: 2;
	color: var(--white-text);

	transition: all 100ms linear;
}
@media only screen and (min-width: 768px) {
	.progress-wrap::before {
		height: 68px;
		width: 68px;
		line-height: 68px;
		font-size: 45px;
	}
}
.progress-wrap:hover::before {
	opacity: 1;
	border-radius: 8px;
}
.progress-wrap svg path {
	fill: none;
}
.progress-wrap svg.progress-circle path {
	stroke: var(--light-green);
	stroke-width: 4;
	box-sizing: border-box;

	transition: all 200ms linear;
}
@media (max-width: 1279px) {
	.progress-wrap::before {
		content: "\2191";
	}
	.progress-wrap::after {
		content: "\2191";
	}
}
