.yachts-block__title,
.services-item,
.form-wrap {
  position: relative;
}

.yachts-block__title::before,
.yachts-block__title::after,
.services-item:nth-child(2)::before,
.form-wrap::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  filter: blur(100px);
  transform: rotate(-45deg);
}

.yachts-block__title::before {
  width: 200px;
  height: 200px;
  top: -38%;
  left: -6%;
  background-color: rgba(145, 175, 186, 0.6);
}

.yachts-block__title::after {
  width: 90px;
  height: 90px;
  top: 16%;
  left: 79%;
  background-color: rgba(166, 169, 178, 0.3);
}

@media (min-width: 768px) and (max-width: 1279px) {
  .yachts-block__title::before {
    width: 370px;
    height: 370px;
    left: -2%;
    top: -17%;
  }

  .yachts-block__title::after {
    width: 290px;
    height: 290px;
    left: 61%;
    top: -2%;
  }
}

@media (min-width: 1280px) {
  .yachts-block__title::before {
    width: 390px;
    height: 390px;
    left: 9%;
    top: -11%;
  }

  .yachts-block__title::after {
    width: 300px;
    height: 300px;
    left: 59%;
    top: -5%;
  }
}

.services-item:nth-child(2)::before {
  top: 0%;
  left: 0%;
  /* width: 142px; */
  /* height: 142px; */
  /* background-color: rgba(145, 175, 186, 0.6); */
}

.form-wrap::after {
  top: 58%;
  left: 73%;
  width: 142px;
  height: 142px;
  background-color: rgba(145, 175, 186, 0.6);
}

@media only screen and (min-width: 768px) {
  .form-wrap::after {
    width: 265px;
    height: 265px;
    left: 99%;
  }
}
