.footer {
  padding-top: 32px;
  padding-bottom: 16px;
}
@media only screen and (max-width: 767px) {
  .footer {
    padding-top: 20px;
    padding-bottom: 14px;
  }
}

.footer-container {
  padding-top: 40px;
}

@media only screen and (min-width: 768px) {
  .footer-container {
    padding-top: 64px;
    display: flex;
    position: relative;
    height: 280px;
    margin-bottom: auto;
  }
}

@media only screen and (min-width: 1280px) {
  .footer-container {
    height: 284px;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 767px) {
  .footer-logo {
    margin-bottom: 41px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .footer-logo {
    margin-right: 129px;
  }
}

.link-footer-logo {
  color: var(--white-text);
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 118%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .link-footer-logo {
    font-size: 18px;
    line-height: 1.18;
  }
}
@media only screen and (max-width: 767px) {
  .footer-navigation {
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .footer-navigation {
    margin-right: 143px;
  }
}

.footer-nav-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
@media only screen and (min-width: 768px) {
  .footer-nav-list {
    align-items: center;
    gap: 24px;
  }
}

@media only screen and (min-width: 1280px) {
  .footer-nav-list {
    flex-direction: row;
  }
}

.footer-nav-link {
  color: var(--white-text);
  font-size: 14px;
  font-weight: 700;
  line-height: 118%;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

@media only screen and (max-width: 767px) {
  .footer-network {
    margin-bottom: 40px;
  }
}

.footer-title {
  color: var(--white-text);
  font-size: 14px;
  font-weight: 700;
  line-height: 110%;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.footer-network-list {
  list-style: none;
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 14px;
}

@media only screen and (min-width: 768px) {
  .footer-network-list {
    gap: 16px;
  }
}

.footer-network-icon {
  display: flex;
  width: 32px;
  height: 32px;
  padding: 7px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 1px solid var(--light-gray);
  fill: #f6f5ef;
}

@media only screen and (min-width: 768px) {
  .footer-network-icon {
    width: 40px;
    height: 40px;
    padding: 9px;
  }
}

@media only screen and (min-width: 768px) {
  .footer-icon {
    width: 22px;
    height: 22px;
  }
}

.footer-info {
  color: var(--light-gray);
  text-align: center;
  font-size: 14px;
  line-height: 118%;
  letter-spacing: 0.36px;
  letter-spacing: 0.42px;
}
@media only screen and (min-width: 768px) {
  .footer-info > a {
    margin-left: 32px;
  }
}

@media only screen and (max-width: 767px) {
  .footer-info {
    display: flex;
    gap: 14px;
    font-size: 12px;
    letter-spacing: 0.36px;
  }
}

@media only screen and (max-width: 767px) {
  .footer-information {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
}

@media only screen and (min-width: 768px) {
  .footer-information {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    display: block;
    padding-top: 100px;
  }
}

@media only screen and (min-width: 1280px) {
  .footer-information {
    padding-top: 132px;
  }
}

/* BACK TO TOP STYLES */

.container {
  position: relative;
  display: block;
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100vh;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 767px;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.progress-wrap {
  position: fixed;
  right: 20px;
  bottom: 30px;
  height: 44px;
  width: 44px;
  cursor: pointer;

  border-radius: 50px;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.2);
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);

  transition: all 200ms linear;
}
@media only screen and (min-width: 768px) {
  .progress-wrap {
    height: 68px;
    width: 68px;
    right: 32px;
    bottom: 32px;
  }
}
.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.progress-wrap::after {
  position: absolute;
  font-family: 'unicons';
  content: '\e84b';
  text-align: center;
  line-height: 44px;
  font-size: 44px;
  color: var(--light-green);
  left: 0;
  top: 0;
  height: 44px;
  width: 44px;
  cursor: pointer;
  display: block;
  z-index: 1;

  transition: all 200ms linear;
}
@media only screen and (min-width: 768px) {
  .progress-wrap::after {
    height: 68px;
    width: 68px;
    line-height: 68px;
    font-size: 68px;
  }
}

.progress-wrap::before {
  position: absolute;
  font-family: 'unicons';
  content: '\e84b';
  text-align: center;
  line-height: 44px;
  font-size: 44px;
  opacity: 0;
  background-image: linear-gradient(298deg, #88b3b9, #a1b5ba);

  left: 0;
  top: 0;
  height: 44px;
  width: 44px;
  cursor: pointer;
  display: block;
  z-index: 2;
  color: white;

  transition: all 100ms linear;
}
@media only screen and (min-width: 768px) {
  .progress-wrap::before {
    height: 68px;
    width: 68px;
    line-height: 68px;
    font-size: 68px;
  }
}
.progress-wrap:hover::before {
  opacity: 1;
  border-radius: 8px;
}
.progress-wrap svg path {
  fill: none;
}
.progress-wrap svg.progress-circle path {
  stroke: var(--light-green);
  stroke-width: 4;
  box-sizing: border-box;

  transition: all 200ms linear;
}
