/*
    Header CSS
*/

@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
    max-width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.header-nav {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}

@media screen and (min-width: 768px) {
  .header-nav {
    padding: 32px 0;
  }
}

.header-logo {
  color: var(--white-text);
  font-size: 18px;
  font-weight: 700;
  line-height: 118%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-menu-link {
  color: var(--white-text);
  font-size: 14px;
  font-weight: 700;
  line-height: 118%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 24px;
  padding-bottom: 24px;
}

.mobile-menu-toggle-icon {
  fill: var(--white-text);
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 768px) {
  .mobile-menu-toggle-icon {
    display: none;
  }
}

.header-nav-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-nav-list {
    display: flex;
    gap: 24px;
    align-items: center;
  }
}
.separator {
  width: 100%;
  height: 1px;
  background-color: rgba(246, 245, 239, 0.2);
}

/* End of Header CSS */

/* Popup menu */
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--dark-blue);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  background: radial-gradient(
      279px 279px at -5% 80%,
      hsla(196, 23%, 65%, 0.6) -25%,
      hsla(231, 29%, 9%, 0) 120%
    ),
    radial-gradient(
        279px 279px at 85% 105%,
        rgba(148, 157, 173, 0.6) -25%,
        hsla(231, 29%, 9%, 0) 140%
      )
      var(--dark-blue);
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  top: 24px;
  right: 24px;
  color: var(--white-text);
}

.mobile-menu {
  padding: 0;
  margin: 140px auto 0 auto;
  list-style: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 118%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.mobile-menu .link {
  display: block;
  padding: 0;
  color: var(--white-text);
  text-decoration: none;
  text-align: center;
}

/* BACK TO TOP STYLES */

.progress-wrap {
  position: fixed;
  right: 20px;
  bottom: 30px;
  height: 44px;
  width: 44px;
  cursor: pointer;

  border-radius: 50px;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.2);
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);

  transition: all 200ms linear;
}
@media only screen and (min-width: 768px) {
  .progress-wrap {
    height: 68px;
    width: 68px;
    right: 32px;
    bottom: 32px;
  }
}
.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.progress-wrap::after {
  position: absolute;
  font-family: 'unicons';
  content: '\e84b';
  text-align: center;
  line-height: 44px;
  font-size: 44px;
  color: var(--light-green);
  left: 0;
  top: 0;
  height: 44px;
  width: 44px;
  cursor: pointer;
  display: block;
  z-index: 1;

  transition: all 200ms linear;
}
@media only screen and (min-width: 768px) {
  .progress-wrap::after {
    height: 68px;
    width: 68px;
    line-height: 68px;
    font-size: 68px;
  }
}

.progress-wrap::before {
  position: absolute;
  font-family: 'unicons';
  content: '\e84b';
  text-align: center;
  line-height: 44px;
  font-size: 44px;
  opacity: 0;
  background-image: linear-gradient(298deg, #88b3b9, #a1b5ba);

  left: 0;
  top: 0;
  height: 44px;
  width: 44px;
  cursor: pointer;
  display: block;
  z-index: 2;
  color: white;

  transition: all 100ms linear;
}
@media only screen and (min-width: 768px) {
  .progress-wrap::before {
    height: 68px;
    width: 68px;
    line-height: 68px;
    font-size: 68px;
  }
}
.progress-wrap:hover::before {
  opacity: 1;
  border-radius: 8px;
}
.progress-wrap svg path {
  fill: none;
}
.progress-wrap svg.progress-circle path {
  stroke: var(--light-green);
  stroke-width: 4;
  box-sizing: border-box;

  transition: all 200ms linear;
}
