/*
    Header CSS
*/
.header {}

/* Delete the next definition after it is done in generic styles.css */
.container{
       /* outline: 1px solid red;*/
}
@media screen and (min-width: 768px){
    .container {
        padding: 0 32px;
        max-width: 768px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}


.header-nav {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
}

@media screen and (min-width: 768px) {
    .header-nav{
        padding: 32px 0;
    }
}

.header-logo {
    color: var(--white-text);
    font-size: 18px;
    font-weight: 700;
    line-height: 118%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 8px
}

.header-menu-link {
    color: var(--white-text);
    font-size: 14px;
    font-weight: 700;
    line-height: 118%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-top: 24px;
    padding-bottom: 24px;
}

.mobile-menu-toggle-icon {
    fill: var(--white-text);
    background-color: transparent;
    border: none;
}
@media screen and (min-width:768px){
  .mobile-menu-toggle-icon {
    display: none;
  }
}

.header-nav-list {
    display: none;
}
@media screen and (min-width:768px) {
.header-nav-list {
    display: flex;
    gap: 24px;
    align-items: center;
}
}
.separator {
    width: 100%;
    height: 1px;
    background-color: rgba(246, 245, 239, 0.20)
}

/*
    End of Header CSS
*/
/* Popup menu*/
.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /*padding: 32px;*/
    background-color: var(--dark-blue);
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
       /* background:
                radial-gradient(80vmax 50vmax at 110% -10%,
                    hsl(0, 0%, 8%) 0%,
                    hsl(195, 5%, 84%) 50%,
                    hsl(240, 5%, 22%) 95%),
                radial-gradient(90vmax 50vmax at 50vmax 50vmax,
                    hsl(256, 100%, 3%) 0%,
                    hsl(240, 27%, 94%) 95%) 
                hsl(240, 80%, 10%); */
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    /* position: absolute; */
    top: 24px;
    right: 24px;
    color: var(--white-text);
}

.mobile-menu {
    padding: 0;
    margin: 140px auto 0 auto;
    list-style: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 118%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    gap: 14px;

}

.mobile-menu .link {
    display: block;
    padding: 0;
    color: var(--white-text);
    text-decoration: none;
    text-align: center;
}
