/*
    Header CSS
*/

@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
    max-width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.header-container {
  padding-top: 24px;
}
@media screen and (min-width: 768px) {
  .header-container {
    padding-top: 33px;
  }
}

/* @media screen and (min-width: 1280) {
	.header-container {
	}
} */

.header-nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .header-nav {
    padding-bottom: 33px;
  }
}

.header-logo {
  color: var(--white-text);
  font-size: 18px;
  font-weight: 700;
  line-height: 118%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-menu-link {
  color: var(--white-text);
  font-size: 14px;
  font-weight: 700;
  line-height: 118%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.mobile-menu-toggle-icon {
  fill: var(--white-text);
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 768px) {
  .mobile-menu-toggle-icon {
    display: none;
  }
}

.header-nav-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-nav-list {
    display: flex;
    gap: 24px;
    align-items: center;
  }
}
.separator {
  width: 100%;
  height: 1px;
  background-color: rgba(246, 245, 239, 0.2);
}

/*
    End of Header CSS
*/
/**
  |============================
  | BACK TO TOP STYLES
  |============================
*/
.container {
  position: relative;
  display: block;
}
.progress-wrap {
  position: fixed;
  right: 20px;
  bottom: 30px;
  height: 44px;
  width: 44px;
  cursor: pointer;

  border-radius: 50px;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.2);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);

  transition: all 200ms linear;
}
@media only screen and (min-width: 768px) {
  .progress-wrap {
    height: 68px;
    width: 68px;
    right: 32px;
    bottom: 32px;
  }
}
.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.progress-wrap::after {
  position: absolute;
  font-family: 'unicons';
  content: '\e84b';
  text-align: center;
  line-height: 44px;
  font-size: 44px;
  color: var(--light-green);
  left: 0;
  top: 0;
  height: 44px;
  width: 44px;
  cursor: pointer;
  display: block;
  z-index: 1;

  transition: all 200ms linear;
}
@media only screen and (min-width: 768px) {
  .progress-wrap::after {
    height: 68px;
    width: 68px;
    line-height: 68px;
    font-size: 68px;
  }
}

.progress-wrap::before {
  position: absolute;
  font-family: 'unicons';
  content: '\e84b';
  text-align: center;
  line-height: 44px;
  font-size: 44px;
  opacity: 0;
  background-image: linear-gradient(298deg, #88b3b9, #a1b5ba);

  left: 0;
  top: 0;
  height: 44px;
  width: 44px;
  cursor: pointer;
  display: block;
  z-index: 2;
  color: white;

  transition: all 100ms linear;
}
@media only screen and (min-width: 768px) {
  .progress-wrap::before {
    height: 68px;
    width: 68px;
    line-height: 68px;
    font-size: 68px;
  }
}
.progress-wrap:hover::before {
  opacity: 1;
  border-radius: 8px;
}
.progress-wrap svg path {
  fill: none;
}
.progress-wrap svg.progress-circle path {
  stroke: var(--light-green);
  stroke-width: 4;
  box-sizing: border-box;

  transition: all 200ms linear;
}
