/**
  |============================
  | text part Hero
  |============================
*/
.hero-container {
    padding: 0 20px;
    /*background:
         linear-gradient(at bottom left, #91AFBA 100%, #1f212d 47.92%, #11131f 0%, 125.31deg);
        background-attachment: fixed;*/
}

.hero-text-box {
    padding: 40px 0;
}

.hero-main-text {
    color: var(--white-text);
    font-family: DM Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -1.62px;
    margin-bottom: 14px;
}

.hero-span {
    background: linear-gradient(107deg, #BEC7C2 0%, #A1B5BA 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: DM Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -1.62px;
}

.hero-text {
    color: var(--white-text);
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    /* 19.6px */
    letter-spacing: -0.28px;
    margin-bottom: 24px;
}

.hero-set-btn {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.hero-btn {
    font-family: DM Sans;
    color: var(--white-text);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.1;
    /* 15.4px */
    letter-spacing: -0.63px;
    text-align: center;
    padding: 14px 28px;
    border: none;
    border-radius: 60px;
    background: var(--light-green);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background: #1f212d;
    color: #f6f5ef;
}

.hero-btn-action {
    color: var(--white-text);
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.1;
    /* 15.4px */
    letter-spacing: -0.63px;
    background: transparent;
    padding: 14px 28px;
    border-radius: 60px;
    border: 1px solid var(--white-text);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 450ms cubic-bezier(0.4, 0, 0.2, 1),
        color 450ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn-action:hover,
.hero-btn-action:focus {
    background-color: var(--light-green);
    border-color: var(--blue-gray);
    color: var(--blue-gray);
}

@media only screen and (min-width: 768px) {

    .hero-text-box {
        max-width: 768px;
        padding: 64px 0;
        margin-left: 217px;

    }

    .hero-main-text {
        font-size: 60px;
        font-weight: 500;
        line-height: 1.1;
        /* 66px */
        letter-spacing: -2.7px;
        margin-bottom: 16px;
    }

    .hero-span {
        font-size: 60px;
        font-style: italic;
        font-weight: 500;
        line-height: 1.1;
        letter-spacing: -2.7px;
    }

    .hero-text {
        width: 539px;
        margin-bottom: 32px;
        font-size: 16px;
        letter-spacing: -0.32px;
    }
}

@media only screen and (min-width: 1280px) {
    .hero-container {
        display: flex;

        flex-direction: row-reverse;
    }

    .hero-text-box {
        width: 554px;

    }

}


/**
  |============================
  | img part Hero
  |============================
*/

.hero-image-section {
    position: relative;
    max-width: 363px;

}

.hero-image-container {
    position: relative;
    background: linear-gradient(107deg, #BEC7C2 0%, #A1B5BA 100%);
    /*padding: 24px 24px 51px 24px;*/
    width: 320px;
    height: 427px;
    border-radius: 4%;
    border-top: 0;
    bottom: 1px;
    z-index: 1;


}

.hero-image-container-klein {
    position: absolute;
    background: linear-gradient(107deg, #BEC7C2 0%, #A1B5BA 100%);
    width: 224px;
    height: 405px;
    bottom: -19px;
    left: 96px;

    border-radius: 4%;
    z-index: 0;

}

.hero-image-container-klein-dark {
    position: absolute;
    background: var(--dark-blue);
    width: 121px;
    height: 32px;
    bottom: -22;
    left: 20px;
    border-radius: 0 29px 0 0;
    z-index: 0;
}

.hero-clients-box {
    position: relative;
    width: 135px;
    top: 24px;
    left: 24px;

}

.hero-clients-list {
    display: flex;
    margin-bottom: 13px;


}

.hero-clients-li {
    margin-left: -7px;
    z-index: -1;
}

.hero-clients-li-item {
    z-index: -2;
}

.hero-clients-img {
    width: 48px;
    height: 48px;
    background: transparent;
    margin: 0 -2px 0 0;



}

.hero-clients-text {
    color: var(--dark-blue);
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    /* 15.4px */
    letter-spacing: 0.56px;
    text-transform: uppercase;

}

.hero-img-ceo {
    position: absolute;
    border-radius: 24px;
    top: 30px;
    right: -22px;
    z-index: 3;
}

.hero-main-img {
    position: absolute;
    width: 287px;
    height: 167px;
    left: 24px;
    transform: translateY(35%);
    background: transparent;
    margin-bottom: 17px;
}

.hero-text-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 14px;
    align-items: center;
    transform: translateY(450%);


}

.hero-grosse-text {
    color: var(--dark-blue);
    font-family: DM Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.1;
    /* 52.8px */
    letter-spacing: -2.16px;
    text-transform: uppercase;
}

.hero-kleine-text {
    width: 169px;
    color: var(--dark-blue);
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    /* 19.6px */
    letter-spacing: -0.63px;
}

@media only screen and (min-width: 768px) {
    .hero-image-section {
        width: 462px;
    }

    .hero-image-container {
        max-width: 426px;
        margin-top: 53px;
    }

    .hero-main-img {
        width: 378px;
        height: 221px;
        margin-bottom: 32px;
    }

    .hero-img-ceo {
        width: 233px;
        height: 233px;
        
    }

    .hero-grosse-text {
        font-size: 60px;
        line-height: 1.1;
        /* 66px */
        letter-spacing: -2.7px;
        text-transform: uppercase;
    }

    .hero-kleine-text {
        width: 208px;
        font-size: 18px;
        line-height: 1.1;
        /* 19.8px */
        letter-spacing: -0.81px;
    }

}

@media only screen and (min-width: 1280px) {
    .hero-section {
        max-width: 1280px;
        padding-bottom: 164px;
    }

    .hero-container {
        padding: 0 32px;
    }

    .hero-text-box {
        width: 554px;
        margin-bottom: 32px;
    }

    .hero-main-text {
        font-family: DM Sans;
        font-size: 60px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.1;
        /* 66px */
        letter-spacing: -2.7px;
        margin-bottom: 16px;
    }

    .hero-span {
        font-size: 60px;
        font-style: italic;
        font-weight: 500;
        line-height: 110%;
        letter-spacing: -2.7px;
    }

    .hero-text {
        font-size: 16px;
        line-height: 1.4;
        /* 22.4px */
        letter-spacing: -0.32px;
    }
}