.yachts-block {
  max-width: 375px;

  position: relative;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .yachts-block {
    max-width: 768px;
  }
}

@media (min-width: 1280px) {
  .yachts-block {
    max-width: 1280px;
  }
}

.yachts-block__bg-vector {
  /* width: 100%;
  height: calc(100% + 483px);
  opacity: 0.1;
 */

  width: 100vw;
  height: 100vh;
  background-image: url('/src/img/icons.svg#');
  background-repeat: no-repeat;
  transform: rotate(-7.51deg);
  opacity: 0.15;

  left: 0;
  top: 81px;
  position: absolute;
  background-size: cover;
  z-index: -1;

  /* 
  стилі з макету:  */
  /* width: 1508.573px;
  height: 1611.22px; 
  transform: rotate(101.767deg);
   */
}

@media (max-width: 1279px) {
  .yachts-block__bg-vector {
    display: none;
  }
}

.yachts-block__gradient-big,
.yachts-block__gradient-small {
  position: absolute;
  filter: blur(100px);
  transform: rotate(-44.916deg);
}

.yachts-block__gradient-big {
  /* width: 255px;  */
  /* height: 255px; */
  width: 200px;
  height: 200px;
  top: -25px;
  left: -19px;
  background-color: #91afba;
  opacity: 0.6;
}

.yachts-block__gradient-small {
  /* width: 195px; */
  /* height: 195px; */
  width: 150px;
  height: 150px;
  top: -33px;
  left: 139px;

  background-color: #a6a9b2;
  opacity: 0.3;
}

@media (min-width: 375px) and (max-width: 767px) {
  .yachts-block__gradient-small {
    left: 190px;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .yachts-block__gradient-big,
  .yachts-block__gradient-small {
    transform: rotate(-44.094deg);
  }

  .yachts-block__gradient-big {
    /* width: 399px;
    height: 399px; */
    width: 370px;
    height: 370px;
    border-radius: 399px;
    left: 59px;
    top: -52px;
  }

  .yachts-block__gradient-small {
    /* width: 304px;
    height: 304px; */
    width: 290px;
    height: 290px;
    border-radius: 304px;
    left: 396px;
    top: -81px;
  }
}

@media (min-width: 1280px) {
  .yachts-block__gradient-big,
  .yachts-block__gradient-small {
    transform: rotate(-45.074deg);
  }

  .yachts-block__gradient-big {
    /* width: 414px;
    height: 414px; */
    width: 390px;
    height: 390px;
    border-radius: 414px;
    left: 264px;
    top: -38px;
  }

  .yachts-block__gradient-small {
    /* width: 316px;
    height: 316px; */
    width: 300px;
    height: 300px;
    border-radius: 316px;
    left: 688px;
    top: -47px;
  }
}

.yachts-block__container {
  max-width: 310px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .yachts-block__container {
    max-width: 641px;
    margin-bottom: 100px;
  }
}

@media (min-width: 1280px) {
  .yachts-block__container {
    max-width: 882px;
    margin-bottom: 164px;
  }
}

.yachts-block__title {
  font-size: 36px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -1.62px;

  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .yachts-block__title {
    margin-bottom: 64px;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .yachts-block__title {
    font-size: 70px;
    letter-spacing: -3.15px;
  }
}

@media (min-width: 1280px) {
  .yachts-block__title {
    font-size: 100px;
    letter-spacing: -4.5px;
  }
}

.yachts-block__link {
  width: 131px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 60px;
  border: 1px solid var(--white-text);

  font-size: 14px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0.63px;
  user-select: none;

  transition: background-color 450ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 450ms cubic-bezier(0.4, 0, 0.2, 1),
    color 450ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .yachts-block__link {
    width: 153px;
    height: 48px;
    font-size: 18px;
    letter-spacing: -0.81px;
  }
}

.yachts-block__link:hover,
.yachts-block__link:focus {
  background-color: var(--light-green);
  border-color: var(--blue-gray);
  color: var(--blue-gray);
}

.yachts-block__card-list-buttons {
  display: flex;
  align-items: center;

  /* 
  
  
  
  
  
  */
  /* position: inherit; */
  /* position: relative; */
  /* z-index: 2; */
}

.yachts-block__button-prev,
.yachts-block__button-next,
.yachts-block__button-prev-desc,
.yachts-block__button-next-desc {
  height: 36px;
  border-radius: 60px;
  border: 1px solid var(--white-text);
  background-color: var(--dark-blue);
  fill: var(--white-text);
  user-select: none;

  transition: background-color 450ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 450ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 450ms cubic-bezier(0.4, 0, 0.2, 1);
}

.yachts-block__button-prev:hover,
.yachts-block__button-prev:focus,
.yachts-block__button-next:hover,
.yachts-block__button-next:focus,
.yachts-block__button-prev-desc:hover,
.yachts-block__button-prev-desc:focus,
.yachts-block__button-next-desc:hover,
.yachts-block__button-next-desc:focus {
  background-color: var(--light-green);
  border-color: var(--blue-gray);
  fill: var(--blue-gray);
}

.yachts-block__button-prev,
.yachts-block__button-next {
  width: 46px;
}

.yachts-block__button-prev-desc {
  margin-right: 11px;
}

.yachts-block__button-next-desc {
  margin-left: 11px;
}

@media (min-width: 768px) {
  .yachts-block__button-prev,
  .yachts-block__button-next {
    width: 50px;
  }
}

@media (min-width: 1280px) {
  .yachts-block__button-prev-desc,
  .yachts-block__button-next-desc {
    width: 50px;
  }
}

/* ???? */
@media (max-width: 1279px) {
  .yachts-block__button-prev-desc,
  .yachts-block__button-next-desc {
    display: none;
  }
}

.yachts-block__card-list {
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .yachts-block__card-list {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 32px;
  }
}

@media (min-width: 1280px) {
  .yachts-block__card-list {
    margin-bottom: 0;
  }
}

.yachts-block__card-set {
  background-color: var(--blue-gray);
  border-radius: 24px;
}

@media (max-width: 767px) {
  .yachts-block__card-set:nth-child(n + 2) {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .yachts-block__card-set:nth-child(n + 3) {
    display: none;
  }
}

.yachts-block__image-wrap {
  padding: 18px 18px 0 18px;
}

@media (min-width: 768px) {
  .yachts-block__image-wrap {
    padding: 16px 16px 0 16px;
  }
}

.yachts-block .block__img {
  width: 100%;
}

@media (min-width: 375px) and (max-width: 767px) {
  .yachts-block .block__img {
    width: 299px;
    height: 251px;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .yachts-block .block__img {
    width: 312px;
    height: 268px;
  }
}

@media (min-width: 1280px) {
  .yachts-block .block__img {
    width: 322px;
    height: 268px;
  }
}

.yachts-block__yacht-info {
  padding: 24px;
}

@media (min-width: 768px) {
  .yachts-block__yacht-info {
    padding: 32px;
  }
}

.yachts-block__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .yachts-block__wrap {
    margin-bottom: 32px;
  }
}

.yachts-block__yacht-name {
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.72px;
  text-transform: uppercase;
}

.yachts-block__yacht-type {
  font-size: 12px;
  font-weight: 400;
  line-height: 118%;
  letter-spacing: 0.36px;
  text-transform: uppercase;
  opacity: 0.5;
}

.yachts-block__yacht-desc-lists {
  display: flex;
  gap: 32px;
}

.yachts-block__yacht-desc-list-one {
  width: 58px;
}

.yachts-block__item {
  font-size: 14px;
  font-weight: 400;
  line-height: 118%;
  letter-spacing: 0.42px;
}

.yachts-block__item:not(:last-child) {
  margin-bottom: 6px;
}

.yachts-block__yacht-desc-list-one .yachts-block__item {
  text-transform: uppercase;
}

.yachts-block__buttons-list-wrap {
  display: flex;
  justify-content: center;
}

@media (min-width: 1280px) {
  .yachts-block__buttons-list-wrap {
    display: none;
  }
}

.yachts-block__buttons-list {
  display: flex;
  gap: 14px;
}

@media (min-width: 768px) {
  .yachts-block__buttons-list {
    gap: 16px;
  }
}
