.yachts-block {
  position: relative;
}

.yachts-block__bg-vector {
  height: 1611px;
  width: 1280px;
  background-image: url(/img/looper-group.svg);
  opacity: 0.12;
  left: 0;
  top: 79px;
  position: absolute;
  z-index: -1;
}

@media (max-width: 1279px) {
  .yachts-block__bg-vector {
    display: none;
  }
}

.yachts-block__title-btn-wrap {
  width: 100%;
  margin-bottom: 80px;
}

@media (min-width: 375px) and (max-width: 767px) {
  .yachts-block__title-btn-wrap {
    max-width: 310px;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .yachts-block__title-btn-wrap {
    max-width: 640px;
    margin: auto;
    margin-bottom: 100px;
  }
}

@media (min-width: 1280px) {
  .yachts-block__title-btn-wrap {
    max-width: 882px;
    margin: auto;
    margin-bottom: 164px;
  }
}

.yachts-block__title {
  font-size: 36px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -1.62px;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .yachts-block__title {
    margin-bottom: 64px;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .yachts-block__title {
    font-size: 70px;
    letter-spacing: -3.15px;
  }
}

@media (min-width: 1280px) {
  .yachts-block__title {
    font-size: 100px;
    letter-spacing: -4.5px;
  }
}

.yachts-block__link {
  width: 131px;
  height: 43px;
  font-size: 14px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0.63px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 60px;
  border: 1px solid var(--white-text);
  user-select: none;

  transition: background-color 450ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 450ms cubic-bezier(0.4, 0, 0.2, 1),
    color 450ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .yachts-block__link {
    width: 153px;
    height: 48px;
    font-size: 18px;
    letter-spacing: -0.81px;
  }
}

.yachts-block__link:hover,
.yachts-block__link:focus {
  background-color: var(--light-green);
  border-color: var(--blue-gray);
  color: var(--blue-gray);
}

.yachts-block__card-list-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.y-b__buttons {
  height: 36px;
  border-radius: 60px;
  border: 1px solid var(--white-text);
  background-color: inherit;
  fill: var(--white-text);
  user-select: none;

  transition: background-color 450ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 450ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 450ms cubic-bezier(0.4, 0, 0.2, 1);
}

.y-b__buttons:hover,
.y-b__buttons:focus {
  background-color: var(--light-green);
  border-color: var(--blue-gray);
  fill: var(--blue-gray);
}

.y-b__buttons-mob {
  width: 46px;
}

.yachts-block__btn-prev-desc {
  margin-right: 11px;
}

.yachts-block__btn-next-desc {
  margin-left: 11px;
}

@media (min-width: 768px) {
  .y-b__buttons-mob {
    width: 50px;
  }
}

@media (min-width: 1280px) {
  .y-b__buttons-desc {
    width: 50px;
  }
}

@media (max-width: 1279px) {
  .y-b__buttons-desc {
    display: none;
  }
}

.yachts-block__card-list {
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .yachts-block__card-list {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .yachts-block__card-list {
    margin-bottom: 32px;
  }
}

@media (min-width: 1280px) {
  .yachts-block__card-list {
    margin-bottom: 0;
  }
}

.yachts-block__card-set {
  background-color: var(--blue-gray);
  border-radius: 24px;
}

@media (max-width: 767px) {
  .yachts-block__card-set:nth-child(n + 2) {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .yachts-block__card-set:nth-child(n + 3) {
    display: none;
  }
}

.yachts-block__image-wrap {
  padding: 18px 18px 0 18px;
}

@media (min-width: 768px) {
  .yachts-block__image-wrap {
    padding: 16px 16px 0 16px;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .yachts-block__img {
    width: 312px;
    height: 268px;
  }
}

.yachts-block__yacht-info {
  padding: 24px;
}

@media (min-width: 768px) {
  .yachts-block__yacht-info {
    padding: 32px;
  }
}

.yachts-block__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .yachts-block__wrap {
    margin-bottom: 32px;
  }
}

.yachts-block__yacht-name {
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.72px;
  text-transform: uppercase;
}

.yachts-block__yacht-type {
  font-size: 12px;
  font-weight: 400;
  line-height: 118%;
  letter-spacing: 0.36px;
  text-transform: uppercase;
  opacity: 0.5;
}

.yachts-block__yacht-desc-lists {
  display: flex;
  gap: 32px;
}

.yachts-block__yacht-desc-list-one {
  width: 58px;
}

.yachts-block__item {
  font-size: 14px;
  font-weight: 400;
  line-height: 118%;
  letter-spacing: 0.42px;
}

.yachts-block__item:not(:last-child) {
  margin-bottom: 6px;
}

.yachts-block__yacht-desc-list-one .yachts-block__item {
  text-transform: uppercase;
}

.yachts-block__buttons-list-wrap {
  display: flex;
  justify-content: center;
}

@media (min-width: 1280px) {
  .yachts-block__buttons-list-wrap {
    display: none;
  }
}

.yachts-block__buttons-list {
  display: flex;
  gap: 14px;
}

@media (min-width: 768px) {
  .yachts-block__buttons-list {
    gap: 16px;
  }
}
